body{
    background-image: url(green-minimal-dark-light-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: antiquewhite;
    font-style: italic;
    font-family: Times New Roman;
    text-align-last: center;
}

h2{
    color: antiquewhite;
    font-style: italic;
    font-family: Times New Roman;
    text-align-last: center;
}

p{
    color: antiquewhite;
    font-style: bold;
    font-style: italic;
    font-family: Times New Roman;
    text-align-last: center;
}

